/*-- scss:defaults --*/
// Base document colors
// $body-bg: #181818;
// $body-bg: #2C3E50;
// $body-bg: linear-gradient(90deg, #2C3E50 0%, #2C3E50 100%);
// $body-color: rgb(232, 220, 220);
// $link-color: #75AADB;
$link-color: #75AADB;
// Code blocks
// $code-block-bg-alpha: -.8;

// $font-family-sans-serif: "Lato";
// $font-family-monospace: "Lato";
// $bs-body-font-family: "Lato";
// $font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;

// // colors
// $body-bg: #f0f1eb !default;
// $body-color: #000 !default;
// $link-color: #51483d !default;
// $selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;
$presentation-heading-color: #383d3d !default;