.quarto-title-banner,
.navbar-light,
.navbar-dark {
    background: linear-gradient(90deg, #2C3E50 0%, #2C3E50 100%);
    /* background: linear-gradient(90deg, rgba(59,112,254,1) 0%, rgba(49,195,135,1) 100%); */
}


.metadata-value.listing-colab {
    margin-top: 1em;
    color: #2C3E50;
}


.metadata-value.listing-github {
    margin-top: 0.4em;
    color: #425d79;
}

body {
    width: 100%;
    margin: 0 auto;
}

ul.img-list {
    list-style-type: none;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}

#pictures {
    width: 100%;
    margin: 0 auto;
}